## String

In [1]:
# 1.

name = input("  ")
print("Hello {} !".format(name))

  vaishali
Hello vaishali !

In [2]:
# 2.

# From low string print count of "Is".

string = "He is Amol and she is chaital"
print(string.count("is"))

2

In [3]:
# 3.

# From low string split the word by space.

a = "Data is new oil"
splitted_list = a.split(" ")
print(splitted_list)

['Data', 'is', 'new', 'oil']

In [4]:
# 4.

# now from below, join all the words by "=" and create a sentence.

i = ["Data", "is", "new", "oil"]
new_string = "=".join(i)
print(new_string)

Data=is=new=oil

In [5]:
# 5.

# from below string replace "Java" with "Python"

sentence = "I love Programming in Java."
print(sentence.replace("Java","Python"))

I love Programming in Python.

In [6]:
# 6.

# from below string remove(strip) additional spaces and print it.

msg = " This a message with spaces."
strip_msg = msg.strip()
print(strip_msg)

This a message with spaces.

In [7]:
#7. 

# From below string find postion(start index) of "sample"

sentence = "This is a sample sentence."
print(sentence.index("sample"))

10

In [8]:
#8. 

#Given the string "Python is fun!", how can you calculate and print its length?

text = "Python is fun!"
print(len(text))

14

In [9]:
#9.

#Print below string in reverse order

string = "Pineapple"[ : :-1]
print(string)

elppaeniP

In [10]:
#10. 

#Given the string "Welcome to Python Programming.", how can you capitalize the first letter of each word and print the modified string?

text = "Welcome to Python Programming."
print(text.upper())

WELCOME TO PYTHON PROGRAMMING.

In [11]:
#11. 

#Convert all letter of string to Upper Case

text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [12]:
#12. 

#From below string just convert first lettter of string to upper case

text = "i am learning python"
print(text.title())

I Am Learning Python

In [13]:
#13. 

#Convert all uppper case to lower and lower case to upper

text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [14]:
#14. p

#rint the addition of below 2 strings

a = 20
b = 30
print(a+b)

50

In [15]:
#15. 

#print the additiono of below 2 strings

a = "20"
b = "30"
print(a+b)

2030

## List

In [16]:
#16.

#From belown list replace 4 with 44.

my_list=[1,2,3,4,5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [17]:
#17.

#From belown list add(insert) 200 at index 3

my_list = [1, 2, 3, 4, 5]
my_list[3]=200
print(my_list)

[1, 2, 3, 200, 5]

In [18]:
#18.

#In below list add new number 66.

my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [19]:
#19.

#In below list insert new numbers 66,87,99.

my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [20]:
# 20. 

#rom below list remove number 3.

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [21]:
# 21. 

#From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [22]:
# 22. 

#From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [23]:
# 23. 

#From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.remove("Dehradun")
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [24]:
# 24. 

#Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [25]:
# 25. 

#Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# Assignment

### Problem 1.
Create a list named myList that has three elements:

~The integer 3

~The string 'element number 2'

~Another list ['last','element']

in that order

In [26]:
myList = [1, 'element no 2', ['last','element']]

### Problem 2.
Print the third element of the following list.

In [27]:
l = [1,2,3,4,5,6,7,8]
print(l[2])

3

### Problem 3.
Modify the last element of this list so that its value is 16. Print the modified list so you know the opration was performed succefully.

In [28]:
listToModify = ['a', 'b', 'sixteen']
listToModify[2] = 16
print(listToModify)

['a', 'b', 16]

### Problem 4.
Calculate the length of the following list.

In [29]:
listToFindLength = ['this ','is','the','list','whose','length','I','want']
len(listToFindLength)

8

### Problem 5.
Calculate the sum of the following list.

In [30]:
inList = [54,678,2890]
sum(inList)

3622

### Problem 6.
Find the maximum value of the following list.

In [31]:
maxList = [455,677,223,1467,24,34577,34]
max(maxList)

34577

### Problem 7.
Find the minimum value of the following list.

In [32]:
minList = [455,677,223,1467,24,34577,34]
min(minList)

24

### Problem 8.
Append the string 'Append me!' to the end of the following list. Print the list to ensure the operation has been completed succefully.

In [33]:
listToAppend = [1,2,3]
listToAppend.append('Append me!')
print(listToAppend)

[1, 2, 3, 'Append me!']

## Python for Loop ques

In [34]:
#Example 1: Print the first 10 natural numbers using for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
#Example 2: Python program to print all the even numbers within the given range.

given_range = 10
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [36]:
#Example 3: Python program to calculate the sum of all numbers from 1 to a given number.

give_number = 10
sum = 0
for i in range(1,10+1):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [37]:
#Example 4: Python program to calculate the sum of all the odd numbers within the given range.

given_range = 10
sum = 0
for i in range(given_range):
    if i%2!=0:
        sum+=i
        print(sum)

1
4
9
16
25

In [38]:
# Example 5: Python program to print a multiplication table of a given number.

given_number = 5

for i in range(11):
    print(given_number,"x",i,"=",5*i)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [39]:
# Example 6: Python program to display numbers from a list using a for loop.

list = [1,2,4,6,88,125]
for i in list:
    print(i)

1
2
4
6
88
125

In [40]:
#Example 7: Python program to count the total number of digits in a number.

num = 129475
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 6

In [41]:
#Example 8: Python program to check if the given string is a palindrome.

given_string = "madam"

reverse_string =""
if(given_string == reverse_string):
    print("The string", given_string,"is a Palindrome.")
else:  
    print("The string",given_string,"is NOT a Palindrome.")

The string madam is NOT a Palindrome.

In [42]:
#Example 9: Python program that accepts a word from the user and reverses it.

given_string = input()
reverse_string = ""
for i in given_string:
    reverse_string= i+reverse_string
print(reverse_string)

vaishali
ilahsiav

In [43]:
#Example 10: Python program to check if a given number is an Armstrong number.

given_number=153
given_number=str(given_number)
string_length=len(given_number)
sum=0
for i in given_number:
    sum+=int(i)**string_length
if sum == int(given_number):
    print("The given number",given_number,"is an Amstrong number.")
else:
    print("The given number",given_number,"is Not an Amstrong number.")

The given number 153 is an Amstrong number.

In [44]:
#Example 11: Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]

for i in num_list:
    
    # if divided by 2, all even
    # number leave a remainder of 0
    if i%2==0:
        print(i,"is an even number.")
    else:
        print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [45]:
#Example 12: Python program to display all numbers within a range except the prime numbers.

def is_not_prime(n):
    flag = False
    for i in range(2, int((n**0.5)) + 1):
        if n % i == 0:
            flag = True
    return flag

range_starts = int(input("enter the start range:"))

range_ends = int(input("enter the end range: "))
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

enter the start range:0
enter the end range: 20
Non-prime numbers between 0 and 20 are:
4
6
8
9
10
12
14
15
16
18

In [46]:
#Example 13: Python program to get the Fibonacci series between 0 to 50.


num = 50
first_value, second_value = 0, 1
for n in range(0, num):
    if n <= 1:
        next_value = n
    else:
        next_value = first_value + second_value
        first_value = second_value
        second_value = next_value
    if next_value > num:
        break
    print(next_value)

0
1
1
2
3
5
8
13
21
34

In [47]:
#Example 14: Python program to find the factorial of a given number.

given_number= 5
 
factorial = 1
 
for i in range(1, given_number + 1):
    factorial = factorial * i
 
print("The factorial of ", given_number, " is ", factorial)

The factorial of  5  is  120

In [48]:
#Example 15: Python program that accepts a string and calculates the number of digits and letters.

user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print(" The input string",user_input, "has", letters, "letters and", digits,"digits.")

Enter the string: HR29
 The input string HR29 has 2 letters and 2 digits.

## Dictionary

In [49]:
#1. Given the following dictionary, print all the keys.
my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

my_dict.keys()

dict_keys(['name', 'age', 'city', 'occupation'])

In [50]:
#2. Print all values of dictionary 

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

my_dict.values()

dict_values(['Alice', 25, 'New York', 'Engineer'])

In [51]:
#3. Print all values except "New York"

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

my_dict.pop("city")
print(my_dict)

{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'}

In [52]:
#4.  Delete key "age" from below dict

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

del my_dict["age"]
print(my_dict)

{'name': 'Alice', 'city': 'New York', 'occupation': 'Engineer'}

In [53]:
#5. Print value of "occupation" from below dictionary.

my_dict = {"name": "Alice", "age": 25, "city": "New York", "occupation": "Engineer"}

print(my_dict["occupation"])

Engineer

## Functions in Python

In [54]:
#1. Write a python function for addition of 2 number.

def addfncvalue(num1,num2):
    total_value = num1 + num2
    return(total_value)

In [55]:
addfncvalue(45,56)

101

In [74]:
#2. Write function to add all numbers of list and print

def addfncvalue(*args):
    totalvalue = sum(args)
    return(totalvalue)

In [75]:
addfncvalue(23,45,24,78,86,43)

299

In [76]:
#3. Write a fucntion to check if number is even or odd and print it.

def even_odd(num):
    if num%2 == 0:
        print("The no is even")
    else:
        print("The no is odd")

In [77]:
even_odd(47)

The no is odd

In [78]:
#4. Take any no of inputs in functions and print them.

def function(*args):
    print(args)

In [79]:
function(1,2,3, "zebra")

(1, 2, 3, 'zebra')

In [80]:
#5. Write a python function which will take N number of inputs and print addition of all numbers.

def pyfunc(*args):
    print(args)
    totalvalue = sum(args)
    return(totalvalue)

In [81]:
pyfunc(23,45,66,23,44)

(23, 45, 66, 23, 44)

201

In [82]:
#5. Write python function which will take N number of string as inputs and will return list of Upper case string.

def upper_string(*words):
    upper_list=[]
    for word in words:
        upper_list.append(word.upper())
        return upper_list
upper_words= upper_string("ketan","shyam","AMOL","Chirag")
print(upper_words)

['KETAN']

In [83]:
def my_function(**kwargs):
    print("The following keyword arguments were passed to the function:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [84]:
my_function(city='fbd',state='Haryana')

The following keyword arguments were passed to the function:
city: fbd
state: Haryana

In [85]:
#7. write a python function which takes keyword agruments and find maximum value among all.

def find_max(**kwargs):
    return max(kwargs.values())

result = find_max(a=10, b=47, c=15)
print(result)

47